@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #00ff00;
}
.flicker {
  animation: flicker 2s infinite;
}
@keyframes flicker {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: bounce 15s alternate infinite, fadeIn 10s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bounce-frame {
  animation: bounce 15s alternate infinite;
}

@keyframes bounce {
  0% {
    min-width: 1000%;
    height: 120vh;
    transform: translateY(-20px) translateX(0px);
  }
  100% {
    min-width: 1200%;
    height: 125vh;
    transform: translateY(-20px) translateX(-100px);
  }
}
