@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.state {
  position: fixed;
  top: 1vw;
  left: 1vw;
  font-size: 1vw;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 0 0 0.2vw #000000;
  z-index: 1000;
  animation: flicker 2s infinite;
}

@keyframes flicker {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.background {
  position: fixed;
  top: -10%;
  width: 1000%;
  height: 100vh;
}

img {
  opacity: 1;
  animation: bounce 15s alternate infinite;
}

@keyframes bounce {
  0% {
    width: 1000%;
    height: 120%;
    transform: translateY(-20px) translateX(0px);
  }
  100% {
    width: 1100%;
    height: 125%;
    transform: translateY(-20px) translateX(-100px);
  }
}
